body{
    display: flex;
    justify-content: center;
}

.left-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.right-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    z-index: -1;
}

.left-top img, .right-bottom img{
    width: 100%;
}

@media screen and (max-width: 1150px){
    .left-top{
        width: 90%;
    }

    .right-bottom{
        display: none;
    }
}